public net.minecraft.world.level.biome.BiomeManager biomeZoomSeed
public net.minecraft.server.level.ChunkMap$TrackedEntity
public net.minecraft.client.multiplayer.ClientChunkCache emptyChunk
public net.minecraft.client.multiplayer.ClientChunkCache lightEngine
public net.minecraft.client.multiplayer.ClientChunkCache level
# 次级维度光照贴图由 TextureManager.release 统一注销并释放。
public net.minecraft.client.renderer.LightTexture lightTextureLocation
